@{
    ViewBag.Title = "About";
}
@*<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<p>Use this area to provide additional information.</p>*@

<div class="cover">
    <h1 class="cover-header">@ViewBag.Title</h1>
    <p class="subheader">This application was developed by Adam Sadler as his final Red Badge project at Eleven Fifty Academy.</p>
    <p class="subheader">To learn more about Adam, please visit his portfolio website below.</p>
    <br />
    <p><a class="btn btn-primary btn-lg" href="https://adambsadler.github.io/Portfolio/" target="_blank">Adam's Portfolio</a></p>
</div>

<style>
    .cover {
        padding: 300px 0;
        text-align: center;
        margin: auto;
    }

    .cover-header {
        font-size: 48px;
        font-family: 'Frutiger LT Std';
    }

    .subheader {
        font-size: 16px;
        font-family: 'Frutiger LT Std';
        font-weight: bold;
    }
</style>
