@{
    ViewBag.Title = "Home Page";
}

<div class="cover">
    <h1 class="cover-header">Tabletop Tracker</h1>
    <p class="subheader">Manage your collection of tabletop games and document your favorite game nights.</p>
    <p class="subheader">Create an account or login to get started!</p>
    <img src="~/Content/table-icon.png" />
</div>

<style>
    .cover {
        padding: 200px 0;
        text-align: center;
        margin: auto;
        
    }

    .cover-header {
        font-size: 48px;
        font-family: 'Frutiger LT Std';
        /*text-shadow: 2px 2px 5px;*/
    }

    .subheader {
        font-size: 16px;
        font-family: 'Frutiger LT Std';
        font-weight: bold;
        
    }

    img {
        max-width: 40%;
    }
</style>